/* Setting up CSS variables in the root */
:root {
  --main-black: #000;
  --main-green: #17a76b;
  --main-green-gray: #457d70;
  --main-light-plum: #924577;
  --main-white: #ffffff;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* Box-sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Element styling */ 
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: var(--main-black);
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.625rem;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  display: block;
}

/* Navigation Bar styling */
#navbar {
  background: var(--main-green);
  box-shadow: 0 0.125rem 0 rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

#navbar h1 {
  display: none;
  margin-left: 0.625rem;
}

#nav-list {
  display: block;
}

#nav-list li a {
  color: var(--main-white);
  display: block;
  font-size: 1.125rem;
  padding: 1.25rem;
}

#nav-list a:hover {
  background: var(--main-green-gray);
}

/* Subtitle section styling */
#subtitle-text h3 {
  background-color: var(--main-light-plum);
  color: var(--main-white);
  display: none;
  font-size: 1.5625rem;
  font-style: italic;
  font-weight: 100;
  margin: 0 auto;
  opacity: 70%;
  position: relative;
  text-align: center;
  top: 4.375rem;
  z-index: 0;
}

/* About Me section styling */
#about-me-section {
  align-items: center;
  background: var(--main-white);
  display: flex;
  flex-direction: column;
  height: 100vh;                            /* Takes up 100% of the viewport height */
  justify-content: center;

  width: 100%;
}

#about-me-section p {
  background: var(--main-white);
  font-size: 1.5625rem;
  font-style: italic;
  font-weight: 200;
  padding: 1.5rem;
  text-align: justify;
  width: 90%;
}

.photo {
  border: 0.125rem solid var(--main-black);
  border-radius: 6.2rem;
  display: none;
  opacity: 90%;
  position: relative;
  top: 2.5rem;
  width: 180px;
}

/* Project Work section styling */
#projects {
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  padding: 4.375rem 1.25rem;
  text-align: center;
}

.projects-section-header {
  bottom: 0.625rem;
  color: var(--main-white);
  margin: 0 auto;
  padding-bottom: 30px;
  position: relative;
}

#projects h3 {
  border-bottom: 0.125rem solid var(--main-white);
  font-style: italic;
  margin-bottom: 1.875rem;
  max-width: 640px;
}

main > .projects-grid {
  margin-bottom: 2.5rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2.5rem;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 3.75rem;
  width: 100%;
}

.project-work {
  background: var(--main-green);
  border-radius: 0.125rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: var(--main-white);
  font-size: 1.25rem;
  padding: 0rem;
  width: 100%;
}

.project-work:hover {
  background: var(--main-light-plum);
}

.project-image {
  object-fit: cover;
  width: 100%;
}

.project-image:hover {
  opacity: 90%;
}

/* Contact Information section styling */
#contact {
  align-items: center;
  background: #0f0f0f;
  display: flex;
  flex-direction: column;
  height: 70vh;                             /* Takes up 70% of the viewport height */
  justify-content: center;
  padding: 0 1.25rem;
  text-align: center;
  width: 100%;
}

#contact h2 {
  color: var(--main-white);
}

#contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 980px;
  margin-top: 2.5rem;
  width: 100%;
}

.contact-details {
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.btn {
  border-radius: 2px;
  color: var(--main-white);
  display: inline-block;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
}

.btn:hover {
  background: #3e504b;
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.fa, .fab, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

/* Footer section styling */
footer {
  background: var(--main-green);
  border-top: 2px solid var(--main-green-gray);
  color: var(--main-white);
  display: flex;
  font-weight: 300;
  justify-content: center;
  padding: 1.25rem;
}

/* MEDIA QUERIES */
/****************************************************/ 
/* For large PHONES, TABLETS and larger devices - min-width 425px */
/****************************************************/ 
@media only screen and (min-width: 425px) {
  /* Element styling */
  h2 {
    font-size: 3rem;
  }
  /* Header section styling */
  #navbar {
    display: flex;
    justify-content: flex-end;
  }
  #nav-list {
    display: flex;
    margin-right: 1.25rem;
  }
  #nav-list li a {
    font-size: 1.375rem;
  }
  /* About Me section styling */
  #about-me-section p {
    font-size: 1.875rem;
  }
}

/***********************************************************/ 
/* For larger TABLETS and bigger devices - min-width 768px */
/***********************************************************/ 
@media only screen and (min-width: 768px) {
  /* Header section styling */
  #navbar {
    position: fixed;
  }
  #subtitle-text h3 {
    display: block;
  }
  /* About Me section styling */
  #about-me-section {
    background: url('../images/bg1.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  #about-me-section p {
    margin: 0 auto;
  }
  .photo {
    display: block;
  }
  /* Contact Information section styling */
  #contact {
    height: 80vh;                             /* Takes up 80% of the viewport height */
  }
  #contact h2 {
    font-size: 3.75rem;
  }
}

/****************************************************/ 
/* For LAPTOPS and larger devices - min-width 992px */
/****************************************************/ 
@media only screen and (min-width: 992px) {
  /* Header section styling */
  #navbar {
    justify-content: space-between;
  }
  #navbar h1 {
    display: block;
  }
  /* About Me section styling */
  #about-me-section p {
    width: 60%;
  }
}

/*************************************/  
/* For DESKTOP PC - min-width 1200px */
/*************************************/ 
@media only screen and (min-width: 1200px) {
  /* About Me section styling */
  #about-me-section p {
    width: 50%;
  }
}




